---
---

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Duff Neubauer</title>
  <meta name="description" content="Duff Neubauer">
  <!-- <meta name="author" content="SitePoint"> -->

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>

  <header>
    <div>Duff Neubauer</div>
    <nav>
      <ul>
        <li>About</li>
        <li>Contact</li>
      </ul>
    </nav>
  </header>

  <section class="hero">
    <h1>Building the UI between you and your customer</h1>
    <p>My name is Duff Neubauer. I'm a software engineer specializing in iOS, macOS, and other Apple platforms.</p>
    <a href="#" class="button">Learn More</a>
  </section>

  <section class="resume">
    <h2>About Me</h2>
    <p>{{ site.data.about_me }}</p>

    <h2>Experience</h2>
    <ol>
      {% for item in site.data.experience %}
        <li>
          <h3>{{ item.years }}</h3>
          <ul>
            <li class="title">{{ item.title }}</li>
            <li class="place">{{ item.place }}}</li>
          </ul>
        </li>
      {% endfor %}
    </ol>

    <h2>Highlights</h2>
    <ol>
      {% for item in site.data.highlights %}
        <li>{{ item }}</li>
      {% endfor %}
    </ol>
  </section>

  <footer>
    <ul>
      <li>Duff Neubauer</li>
      <li>
        <ul>
          <li>GitHub</li>
          <li>Twitter</li>
          <li>Instagram</li>
          <li>Twitch</li>
          <li>Email</li>
        </ul>
      </li>
    </ul>

    <p>&copy; 2020 Duff Neubauer</p>
  </footer>

</body>
</html>
