<figure class="project">

  <a href="{{ include.project.product-url }}" target="_blank" class="project-image-frame" style="background-color: {{ include.project.brand-color }};">
    <img src="{{ include.project.image-src}}" class="project-image {{ include.project.platform }}" />
  </a>

  <figcaption>

    <header class="project-header">
      <h1 class="project-title">
        <a href="{{ include.project.product-url }}" target="_blank">
          {{ include.project.title }}
        </a>
      </h1>
      <h4 class="project-date">{{ include.project.release-date }}</h4>
    </header>

    <p class="project-description">{{ include.project.description }}</p>

    <footer class="project-footer">
      <p><span class="bold">Tools used:</span> {{ include.project.tools | join: ", "}}</p>
    </footer>

  </figcaption>
</figure>
