#blog .post {
  margin-bottom: 40px;
}

#blog .post h1 {
  font-family: "AvenirNext-Bold";
  font-size: 24px;
  color: #333333;
  letter-spacing: 0.59px;
}

#blog .post time {
  font-family: "AvenirNext-Medium";
  font-size: 14px;
  color: #777777;
  letter-spacing: 0.39px;
  display: block;
  margin-bottom: 10px;
}

#blog .post p {
  margin-bottom: 30px;
}

#blog .post .button a {
  padding: 10px 15px;
  background-color: #8CBBC4;
  color: white;

  font-family: "AvenirNext-Regular";
  text-transform: capitalize;
  font-size: 16px;
}
