.blog {

    p {
        font-size: 2.1rem;
    }

    ul {
        padding: 0;
    }

    ul:last-child hr {
        display: none;
    }

    .post-preview {
        display: grid;
        grid-template-columns: 1fr 4fr;

        .metadata {
            p {
                font-size: 1.6rem;
                color: #777;
                margin-top: 0;
                margin-bottom: 1.6rem;
            }
        }
        .metadata-inline {
            display: none;
        }

        img {
            width: 100%;
        }

        .photo-credit {
            display: none;
        }

        .content {
            .title {
                display: flex;

                h2, h2 > a {
                    display: inline;
                    font-size: 3rem;
                    font-weight: 900;
                    flex-grow: 10;
                    margin-top: 0;
                }
                .post-number {
                    display: inline;
                    color: #AAA;
                    font-weight: 400;
                    flex-grow: 0;
                }
            }

            p {
                line-height: 3.2rem;
            }

            a {
                text-decoration: underline;
            }
        }

        hr {
            background-color: #CCC;
            border: none;
            height: 1px;
            margin: 2rem 0;
        }
    }

}

// Screen width < 600px

@media only screen and (max-width: 600px) {
    .blog {
        .post-preview {
            display: inherit;

            .metadata {
                display: none;
            }
            .metadata-inline {
                display: inherit;
                margin: 1rem 0;

                p {
                    margin: 0 auto;
                    font-size: 1.6rem;
                    float: left;
                    margin: auto 1rem 1rem auto;
                }
            }

            .content {
                .title {
                    h2, h2 > a {
                        margin-bottom: 0;
                    }
                    .post-number {
                        display: none;
                    }
                }
            }
        }
    }
  }