.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  .logo, .logo b {
    font-size: 2.8rem;
  }

  .logo {
    font-weight: lighter;
  }

  .main-menu {
    display: flex;
    justify-content: flex-end;
    margin: 0;

    .menu-item {
      margin: 0 1rem;
      text-transform: lowercase;
    }
  }
}
