.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;

  .main-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0;

    .menu-item {
      margin: 0 1rem;
      text-transform: lowercase;
    }
  }
}

// Screen width < 600px

@media only screen and (max-width: 600px) {
  .navigation {
    flex-direction: column;
  }
}
