section.resume {
  background-color: #F9F9F9;

  section {
    padding: 20px 0;
  }

  h2 {
    text-transform: lowercase;
    font-size: 2.8rem;
    margin-top: 0;
  }

  h2::after {
    content: "."
  }

  ol, ul {
    padding: 0;
  }

  ol > li {
    margin-bottom: 2rem;
  }

  p {
    line-height: 3rem;
    margin: 0;
  }

  .about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }

  ol > li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.8rem;

    h3 {
      display: inline;
      margin-top: 0;
      font-weight: lighter;
      color: #9B9B9B;
    }

    .title {
      font-weight: bolder;
    }

    .place {
      font-size: 1.8rem;
    }
  }

  .experience-container {
    ul > li {
      margin-bottom: 0.8rem;
    }

    .title {
      font-weight: bolder;
    }
  }
}

// Screen width < 600px

@media only screen and (max-width: 600px) {
  section.resume {
    .about-container {
      display: inherit;
    }

    ol > li {
      display: inherit;

      h3 {
        display: block;
        margin-bottom: 1rem;
      }
    }
  }
}
