@import '@fontsource-variable/inter';

* {
    margin: 0;
    padding: 0;
}

html {
  background-color: #fff;
  font-family: 'Inter Variable', sans-serif;
}

body {
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 943px; /* 1023px - 40px * 2 */
    padding: 0 40px;
    margin: 0 auto;
}

a {
    color: #000;
    text-decoration: none;
}