@import '@fontsource-variable/inter';

html {
  background-color: #fff;
  font-family: 'Inter Variable', sans-serif;
}

body {
    color: #000;
    column-gap: 16px;
    display: grid;
    grid-template-columns: repeat(12, 69px);
    justify-content: center; 
    margin: 0;
    max-width: 1280px;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}