---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle="about">
  	<section>
		<h1>about.</h1>

		<!-- <img src="/src/assets/duff.png" alt="Duff Neubauer" /> -->

		<!-- <figure>
			<div class="bg-box"></div>
			<div class="image-container">
				<div class="image-wrapper">
					<img src="/images/duff.png" alt="Duff Neubauer" />
					<div class="image-overlay"></div>
				</div>
			</div>
		</figure> -->

		<p class="bio-text">
			<strong class="bold">Duff Neubauer</strong> is an iOS engineer with 10+ years of experience building high-performance apps at Apple, Twitch, and Latch. He specializes in Swift, SwiftUI, and Bluetooth-connected experiences, with a focus on clean architecture, product polish, and speed.
		</p>

		<ul>
			<li>
				<a href="#" class="link-linkedin">LinkedIn</a>
			</li>
			<li>
				<a href="#" class="link-github">GitHub</a>
			</li>
			<li>
				<a href="#" class="link-resume">Resume</a>
			</li>
		</ul>

	</section>
</BaseLayout>
