---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle="about">
  	<section>
		<h1>about.</h1>

		<figure>
			<div class="headshot">
				<img src="/assets/duff.png" alt="Duff Neubauer" />
			</div>

			<figcaption>
				<p>
					<span>Duff Neubauer</span> is an iOS engineer with 10+ years of experience building high-performance apps at Apple, Twitch, and Latch. He specializes in Swift, SwiftUI, and Bluetooth-connected experiences, with a focus on clean architecture, product polish, and speed.
				</p>
				<ul>
					<li>
						<a href="mailto:d.neubauer@me.com" target="_blank">Email</a>
					</li>
					<li>
						<a href="https://github.com/duffneub" target="_blank">GitHub</a>
					</li>
					<li>
						<a href="https://www.linkedin.com/in/duffneubauer" target="_blank">LinkedIn</a>
					</li>
					<li>
						<a href="/duff-neubauer-resume.pdf" target="_blank">Resume</a>
					</li>
				</ul>
			</figcaption>
		</figure>

	</section>
</BaseLayout>

<style>
	section {
		align-items: center;
		display: flex;
		grid-column: 2 / span 10;
		flex-direction: column;
	}

    h1 {
		font-size: 24px;
		font-weight: 600;
		margin-bottom: 40px;
	}

	.headshot {
		background-color: #F5F5F5;
		border-radius: 16px;
		width: 100%;
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
	}

	img {
		filter: grayscale();
	}

	figcaption {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	figcaption span {
		font-weight: bold;
		font-size: 16px;
	}

	ul {
		display: flex;
		list-style-type: none;
	}

	li {
		margin-right: 10px;
	}

	li:hover {
		text-decoration: underline;
	}
</style>