---
const pathname = Astro.url.pathname;
---

<a id="logo" href="/">duff neubauer.</a>
<nav>
    <a href="/" class={pathname === "/" ? "active" : ""}>about</a>
    <a href="/projects" class={pathname === "/projects" ? "active" : ""}>projects</a>
</nav>

<style>
    #logo {
        font-size: 20px;
        font-weight: 600;
    }

    nav a {
        font-size: 16px;
        font-weight: 300;
        margin-left: 10px;
    }

    nav a:hover {
        text-decoration: underline;
    }

    nav a.active {
        text-decoration: underline;
    }
</style>