<a id="logo" href="/">monikr.</a>
<nav>
    <a href="/">projects</a>
    <a href="/about">about</a>
</nav>

<style>
    #logo {
        font-size: 20px;
        font-weight: bold;
    }

    nav a {
        font-size: 16px;
        font-weight: normal;
        margin-left: 10px;
    }

    nav a:hover {
        text-decoration: underline;
    }
</style>